.authorizationBox{
    width: 400px;
    height: auto;
    border: 1px solid;
    margin-top: 5%;
    margin-left: 17%;
    border-radius: 20px;
    padding: 2%;
    position: relative;
    .lang_btn{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 20px 0px 0px;
    }
}