.authorizationBox{
    width: 400px;
    height: 550px;
    border: 1px solid;
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    .lang_btn{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 20px 0px 0px;
    }
}