@font-face {
  font-family: "DancingScript";
  src: local("DancingScript"),
    url(../../../assets//fonts//static//DancingScript-Regular.ttf);
}

.taskBlock {
  width: 95%;
  
  margin: 0px auto;
  padding: 0.5%;
  .taskDiv {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    align-items: center;
    height: auto;
    margin-top: 2%;
    .tasks {
      width: 100%;
      height: 190px;
      margin: 0px auto;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      font-family: DancingScript;
      overflow-y: auto;
      .title {
        font-size: 5vh;
        text-align: center;
      }
      .post{
        font-size: 3vh;
      }
    }
  }
}
// @media only screen and (max-width: 600px) {
//     .taskDiv{
//         grid-template-columns: repeat(2,45%);
//     }
//   }
