.areaBlock{
    width: 60%;
    height: 70vh;
    margin: 0px auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    gap: 2%Enew;
    .backLink{
        width: 13%;
        padding: 1%;
        border-radius: 10px;
        text-align: center;
    }
    .title{
        
    }
    .textarea{
        height: 300px;
        margin-top: 1%;
    }
    .calendarBlock{
        margin-top: 1%;
        .calendar{
            background-color: rgba(0, 0, 0, 0.438);
        }
    }
    
}